{% extends 'base.html' %}
{% block content %}
    <div>
        <section>
            <h2 class="text-xl mb-4 font-semibold">All Transcribed files</h2>
            <div class="space-y-4">
                {% for transcript in transcripts %}
                <div class="border border-gray-300 p-4 rounded-lg">
                    <h3 class="text-lg font-semibold">{{ transcript.music_path }}</h3>
                    <p>{{ transcript.generated_lyrics }}</p>
                    <p>{{ transcript.created_at }}</p>
                    <a href="{% url 'transcript-detail' transcript.id %}">show more</a>
                </div>
                {% endfor %}
            </div>
        </section>    
    </div>
    
{% endblock %}